extends layout

block content
  div.container
    h2= title
    p An overview of all questions. Up- or downvote the questions you want answered.
  div.container.ask-container
    ul.list-group#questions
      each val in questions
        li(class="list-group-item", id=""+val._id+"")
          div.list-group-item-question
            span.username= val.username 
            span.description  asked a question:
            span.question= val.question
          div.list-group-item-vote
            button.btn.voteUp vote up
            span.badge= val.votes
            button.btn.voteDown vote down